#deck{
    margin-left: 20px;
}

span {
    font-size: 25px;
}

.plusMinus {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgb(48, 48, 48);
    cursor: pointer;
    position: relative;
    font-size: 20px;
    z-index: 0;
    border-radius: 50%;
    filter: invert(100%);
    margin-left: 10px;
    margin-top:5px;
  }
  /*RAINBOW GLOW HOVER BUTTONS*/
  .plusMinus:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  /*RAINBOW GLOW HOVER BUTTONS*/
  .plusMinus:active {
    color: #000
  }
  /*RAINBOW GLOW HOVER BUTTONS*/
  .plusMinus:active:after {
    background: transparent;
  }
  /*RAINBOW GLOW HOVER BUTTONS*/
  .plusMinus:hover:before {
    opacity: 1;
  }
  /*RAINBOW GLOW HOVER BUTTONS*/
  .plusMinus:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /*RAINBOW GLOW HOVER BUTTONS*/
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  